{{#each serializedQuery}}
  <div class="container">
    <div class="mx-auto mt-3 card-body border col-12">
      <blockquote class="blockquote mb-0">
        <cite title="tv-brand">{{this.brand}}</cite>
        <div class="d-flex flex-row justify-content-between">
          <p>{{this.price}}</p>
          <p>{{this.comment}}</p>
          <img
            data-ils="2"
            jsaction="rcuQ6b:trigger.M8vzZb;"
            class="s0Fsx eKtPwd"
            alt=""
            width="144"
            height="144"
            src="{{this.image_url}}"
          />
        </div>
      </blockquote>
      <footer class="blockquote-footer">created by:
        {{this.user.username}}</footer>
    </div>
  </div>
{{/each}}